section {
  position: relative;
  height: 100vh;
  width: 100vw;
  background-image: url("./img/lake/lake1.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  z-index: 1;
  transition: 0.6s;
  animation: appear 2s linear;
  &:hover {
    transform: scale(1.02);
  }
  &:before {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    content: "";
    margin: auto;
    width: 100%;
    height: 100%;
  }
  // &:nth-of-type(odd) {
  &:before {
    background-color: rgba(0, 0, 0, 0.2);
  }
}

// .section__title {
//   position: absolute;
//   top: 0;
//   left: 0;
//   right: 0;
//   bottom: 0;
//   margin: auto;
// }

@keyframes appear {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.section__1 {
  background-image: url("../img/lake/lake2.jpg");
}
.section__2 {
  background-image: url("../img/montains1.jpg");
}
.section__3 {
  background-image: url("../img/lake/lake2.jpg");
}
.section__4 {
  background-image: url("../img/montains2.jpg");
}
